[Desktop Entry]
Version=1.0
Name=Outlook Web
GenericName=Web Browser Link
Keywords=outlook;Outlook;email;mail
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Exec=/usr/lib/firefox/firefox --new-window https://outlook.office.com/mail/
